configuration {
    modi: "window,combi,drun";
    theme: "gruvbox-popup";
    font: "DejaVuSansMono Nerd Font 10";
    combi-modi: "window,drun,run";
    show-icons: true;
    display-combi: " ";
    display-window: " ";
    display-run: " ";
    display-drun: " ";
    //sidebar-mode: true;
}
